__pycache__/
*.py[cod]
.venv/

.git/
.gitignore
.gitmodules
.github/
.vscode/

_pyright/
botw/
buffer/
configs/
duckling/
extensions/
logs/
static/
schemas/
**/*.ipynb
docker-compose.yaml
compose.override.yaml
Dockerfile
LICENSE
README.md
