__pycache__/
*.py[cod]
_pyright/
.git/
.github/
.venv/
.vscode/
botw/
buffer/
configs/
duckling/
extensions/
logs/
schemas/
.gitignore
.gitmodules
**/*.ipynb
docker-compose.yaml
compose.override.yaml
Dockerfile
LICENSE
README.md
